$border: 2px solid rgba(30, 30, 30, 0.6);

.Gameboard {
  position: relative;
  background-image: linear-gradient(rgba(30, 30, 30, 0.6), rgba(30, 30, 30, 0.6)),
    url('../../images/wood.jpg');
  background-size: cover;
}

.Gameboard_row {
  display: flex;
  list-style: none;
  width: fit-content;
  padding: 0;
  margin: 0;
  border-bottom: $border;

  &:first-child {
    border-top: $border;
  }

  & li {
    display: grid;
    place-items: center;
    height: 60px;
    width: 60px;
    padding: 0;
    border-right: $border;
  }

  & li:first-child {
    border-left: $border;
  }
}
